    <div class="login-container">
        <p class="error" *ngIf="error">Email ou senha invalido, tente novamente</p>
        <form [formGroup]="form">
                    <h2>Login</h2>
                    <div class="form-field">
                        <mat-form-field appearance="fill">
                            <mat-label>digite seu email</mat-label>
                            <input matInput type="email" placeholder="email@example.com" formControlName="email" required>
                        </mat-form-field>
                    </div>
                        <mat-form-field appearance="fill">
                            <mat-label>digite sua senha</mat-label>
                            <input matInput type="password" placeholder="******" formControlName="password" required>
                        </mat-form-field>
                <div class="form-buttons">
                    <button class="button button-primary" 
                            (click)="login()">Login</button>
                </div>
            </form>
            <div class="registro">
                <a [routerLink]="['/cadastro']">Registre-se</a>
            </div>
    </div>
    
